<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>About Us | CCCF</title>
    <link rel='stylesheet' href='/css/style.css'>
    <link rel='stylesheet' href='/css/about.css'>
    <link rel='stylesheet' href='/css/header.css'>
    <link rel="stylesheet" href="/css/footer.css">
    <script>
        fetch('/header.html')
            .then(res => res.text())
            .then(async data => {
                document.querySelector('#header-container').innerHTML = data;
                await import('/script/header.js');
            });
        fetch('/footer.html')
            .then(res => res.text())
            .then(async data => {
                document.querySelector('#footer-container').innerHTML = data;
                await import("/script/footer.js");
            });
    </script>
    <script type="module" src="/script/about.js" defer></script>
</head>
<body>
    <div id="loader" class="bg-white"></div>
    <div id='header-container'></div>
    <main>
        <div class="mission-container">
            <div class="mission-text-container">
                <div class="mission-heading heading">Our Mission</div>
                <div class="mission-main-text"><p>Lorem ipsum dolor sit amet, co
                nse ctetur adipiscing elit. Aenean justo odio, imperdiet ac eges 
                sed, fringilla vel metus. Nulla euismod porttitor magna, eget gr
                avida nunc vehicula a. Donec varius turpis sit amet ligula fauci
                bus, non lacinia mi consequat. Vestibulum pretium massa et urna 
                bibendum, at porttitor velit malesuada. Aliquam id metus at risu
                s blandit scelerisque. Donec suscipit nunc eu neque bibendum ves
                tibulum eget et tortor. Phasellus eget blandit metus. Vivamus tr
                istique mattis magna, eget porttitor nunc commodo at. Pellentesq
                ue habitant morbi tristique senectus et netus et malesuada fames
                ac turpis egestas. Aenean accumsan ullamcorper leo, ut ultrices
                libero consequat eu. Sed blandit tellus nibh. Aliquam viverra 
                cursus elit, eu accumsan erat sollicitudin ut. Pellentesque fi
                nibus ex posuere turpis ultrices aliquet. Donec aliquam cursus
                tas ultrices.</p>

                <p>Morbi interdum varius iaculis. Maecenas interdum commodo arcu 
                n mattis. Donec non lectus vel lectus lobortis hendrerit vel vel
                nisl. Pellentesque at dolor sit amet dolor semper sollicitudin 
                vitae et mi. Morbi at varius dolor, sed suscipit lectus. Phasell
                us aliquam a diam pharetra placerat. Phasellus egestas turpis at
                mauris semper no consequat. Morbi et dolor metus.</p></div>
            </div>
            <div class="mission-image-container">
                <img src="/assets/images/wheelchairGirl.jpg" class="mission-image"></div>
            </div>
        </div>

        <div class="story-container">
            <div class="story-image-container">
                <img src="/assets/images/wheelchairBoy.jpg" class="story-image-2">
                <img src="/assets/images/smilingBoy1.jpg" class="story-image-1">
            </div>
            <div class="story-text-container">
                <div class="spacer-div"></div>
                <div class="story-heading heading">Our Story</div>
                <div class="story-main-text"><p>Lorem ipsum dolor sit amet, co
                nse ctetur adipiscing elit. Aenean justo odio, imperdiet ac eges 
                sed, fringilla vel metus. Nulla euismod porttitor magna, eget gr
                avida nunc vehicula a. Donec varius turpis sit amet ligula fauci
                bus, non lacinia mi consequat. Vestibulum pretium massa et urna 
                bibendum, at porttitor velit malesuada. Aliquam id metus at risu
                s blandit scelerisque. Donec suscipit nunc eu neque bibendum ves
                tibulum eget et tortor. Phasellus eget blandit metus. Vivamus tr
                istique mattis magna, eget porttitor nunc commodo at. Pellentesq
                ue habitant morbi tristique senectus et netus et malesuada fames
                ac turpis egestas. Aenean accumsan ullamcorper leo, ut ultrices
                libero consequat eu. Sed blandit tellus nibh. Aliquam viverra 
                cursus elit, eu accumsan erat sollicitudin ut. Pellentesque fi
                nibus ex posuere turpis ultrices aliquet. Donec aliquam cursus
                tas ultrices.</p>

                <p>Morbi interdum varius iaculis. Maecenas interdum commodo arcu 
                n mattis. Donec non lectus vel lectus lobortis hendrerit vel vel
                nisl. Pellentesque at dolor sit amet dolor semper sollicitudin 
                vitae et mi. Morbi at varius dolor, sed suscipit lectus. Phasell
                us aliquam a diam pharetra placerat. Phasellus egestas turpis at
                mauris semper no consequat. Morbi et dolor metus.</p></div>
            </div>
        </div>
        <div class="bg-yellow work-container">
            <div class="work-heading">Our Work</div>
            <div class="work-row">
                <div class="work-modal">
                    <div class = "modal-heading heading">Raising Cancer Awareness</div>
                    <p><span class ="work-modal-bold">Morbi interdum varius iaculis.</span>   
                n mattis. Donec non lectus vel lectus lobortis hendrerit vel vel
                nisl. Pellentesque at dolor sit amet dolor semper sollicitudin 
                vitae et mi. Morbi at varius dolor. Maecenas interdum commodo</p>
                    <p>Morbi interdum varius iaculis. Maecenas interdum commodo  
                n mattis. Donec non lectus vel lectus lobortis hendrerit vel vel
                nisl. Pellentesque at dolor</p>
                </div>
                <div class="work-modal">
                    <div class = "modal-heading heading">Parental Emotional Support</div>
                    <p><span class ="work-modal-bold">Morbi interdum varius iaculis.</span> Maecenas interdum commodo  
                n mattis. Donec non lectus vel lectus lobortis hendrerit vel vel
                nisl. Pellentesque at dolor sit amet dolor semper sollicitudin 
                vitae et mi. Morbi at varius dolor.</p>
                    <p>Morbi interdum varius iaculis. Maecenas interdum commodo  
                n mattis. Donec non lectus vel lectus lobortis hendrerit vel vel
                nisl. Pellentesque at dolor</p>
                </div>
            </div>
            <div class="work-row">
                <div class="work-modal">
                    <div class = "modal-heading heading">Financial Support</div>
                    <p><span class ="work-modal-bold">Morbi interdum varius iaculis.</span> Maecenas interdum commodo  
                n mattis. Donec non lectus vel lectus lobortis hendrerit vel vel
                nisl. Pellentesque at dolor sit amet dolor semper sollicitudin 
                vitae et mi. Morbi at varius dolor.</p>
                    <p>Morbi interdum varius iaculis. Maecenas interdum commodo  
                n mattis. Donec non lectus vel lectus lobortis hendrerit vel vel
                nisl. Pellentesque at dolor</p>
                </div>
                <div class="work-modal">
                    <div class = "modal-heading heading">Children Take Care</div>
                    <p><span class ="work-modal-bold">Morbi interdum varius iaculis.</span> Maecenas interdum commodo  
                n mattis. Donec non lectus vel lectus lobortis hendrerit vel vel
                nisl. Pellentesque at dolor sit amet dolor semper sollicitudin 
                vitae et mi. Morbi at varius dolor.</p>
                    <p>Morbi interdum varius iaculis. Maecenas interdum commodo  
                n mattis. Donec non lectus vel lectus lobortis hendrerit vel vel
                nisl. Pellentesque at dolor</p>
                </div>
            </div>
        </div>
        <div class="team-container">
            <div class="team-heading heading">Our Team</div>
            <div class="team-subheading">
                Dedicated Professionals Commited to Childhood Cancer Care
            </div>
            <div class="team-members-container">
            </div>
            </div>
        </div>
    </main>
    <div id='footer-container'></div>
</body>
</html>