<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/admin.css">
    <script src="/script/admin.js" defer></script>
</head>
<body>
    <h1 class="heading">Images</h1>
    <input type="file" id="imageInput" accept="image/*" multiple hidden />
    <button class="button" id="upload-button">Upload Images</button>
    <div id="preview"></div>

    <h1 class="heading">Team Members</h1>
    <div class="flex-container members-container">
        <button class="button" id="add-member">Add Member</button>
        <button class="button" id="remove-member">Edit Member</button>
        <button class="button" id="remove-member">Remove Member</button>
    </div>

    <div id="add-member-form" class="bg-yellow">
        <div class="add-member-section-1 flex-container">
            <input type="file" id="add-member-image-input" accept="image/*" 
                hidden />
            <div id="add-member-preview" class="clickable">
                <img class="image" id="add-member-image" 
                    src="/assets/images/dummyProfile.png">
            </div>
            <div class="add-member-section-1-right flex-container">
                <input id="add-member-name" type="text" placeholder="* Name">
                <input id="add-member-job" type="text" 
                    placeholder="* Job Title">
                <input id="add-member-level" type="number" 
                    placeholder="* Job Position Higher Number = Stronger">
            </div>
        </div>
        <div class="add-member-section-2 flex-container">
            <textarea id="add-member-description" type="text" 
                placeholder="Description"></textarea>
            <div class="flex-container" id="add-member-socials-container"></div>
            <div class="flex-container" id="add-member-add-social">
                <div>Add new social</div>
                <p>upto 3</p>
                <img class="clickable" id="add-social" 
                    src="/assets/svg/add_circle.svg">
            </div>
        </div>
        <div class="add-member-buttons flex-container">
            <button class="button" id="add-member-submit">Submit</button>
            <button class="button-invert" id="add-member-close">Close</button>
        </div>
    </div>

    <div id="notification-bar" class="flex-container bg-yellow"></div>
    <div id="image-progress" class="flex-container bg-yellow">
        <div id="image-progress-text">Uploading 522 images...</div>
        <div class="image-progress-bar-container bg-cream">
            <div id="image-progress-bar"></div>
        </div>
    </div>
</body>
</html>