<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>CCCF</title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/header.css'>
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/blogs.css">
    <script>
        fetch('/header.html')
            .then(res => res.text())
            .then(async data => {
                document.querySelector('#header-container').innerHTML = data;
                await import('/script/header.js');
            });
        fetch('/footer.html')
            .then(res => res.text())
            .then(async data => {
                document.querySelector('#footer-container').innerHTML = data;
                await import("/script/footer.js");
            });
    </script>
    <script src='/script/home.js' defer></script>
    <script src="/script/blogs.js"></script>
</head>
<body>
    <div id='header-container'></div>
    <h1>Blogs</h1>
    <div class="container">
        
    </div>

    <div class="paginator"></div>

    <div id='footer-container'></div>
</body>
</html>