<footer class="footer-bg">
  <a id="whatsapp-container" href="/redirect/whatsapp" target="_blank">
    <div id="bubble">Chat with us!</div>
    <button id="whatsapp-button">
      <div class="whatsapp-icon">
        <img class="image" src="/assets/svg/whatsapp_icon.svg" alt="WhatsApp chat icon">
      </div>
    </button>
  </a>
  <div class="footer-container">
    <!-- Logo & Newsletter -->
    <div class="footer-contents">
      <div class="footer-logo-row">
  <img src="/assets/logo1.webp" alt="CCCF logo" style="width:120px; height:auto;">
  <img src="/assets/logo2.webp" alt="CCCF logo text" style="height:64px;">
      </div>
      <!-- <div class="footer-news">
        Connect with us to stay informed about our initiatives and events.
      </div>
      <form class="footer-form">
        <input type="text" class="footer-input" placeholder="Your message here">
        <button type="submit" class="button-invert bg-cream">Send</button>
      </form>
      <div class="footer-note">
        By reaching out, you consent to our Privacy Policy and agree to receive updates.
      </div>
    </div> -->
    <!-- Contact Us -->
    <div class="footer-col">
      <div class="footer-col-title">Contact Us</div>
      <div class="footer-links">
        <a href="/about-us">About Us</a>
        <a href="/contact-us">Get Involved</a>
        <a href="/gallery">Gallery</a>
        <a href="/blogs">Blog</a>
      </div>
    </div>
    <!-- Quick Links -->
    <div class="footer-col">
      <div class="footer-col-title">Quick Links</div>
      <div class="footer-links">
        <a href="/#FAQs">FAQs</a>
        <a href="/donate">Donate Now</a>
        <!-- <a href="#">Volunteer</a> -->
        <a href="/contact-us">Contact Info</a>
        <a href="/about-us">Our Team</a>
      </div>
    </div>
    <!-- Social -->
    <div class="footer-col">
      <div class="footer-col-title">Stay Connected</div>
      <div class="footer-social">
  <a class="footer-social-row" href="https://www.facebook.com/CCCTrust" target="_blank"><img class="footer-social-icon" src="/assets/svg/Facebook.svg" alt="Facebook logo"> Facebook</a>
  <a class="footer-social-row" href="https://www.instagram.com/cccf.pk" target="_blank"><img class="footer-social-icon" src="/assets/svg/Instagram.svg" alt="Instagram logo"> Instagram</a>
  <!-- <span class="footer-social-row"><span class="footer-social-icon"></span> X</span> -->
  <a class="footer-social-row" href="https://www.linkedin.com/company/childhood-cancer-care-foundation/" target="_blank"><img class="footer-social-icon" src="/assets/svg/Linkedin.svg" alt="LinkedIn logo"> LinkedIn</a>
  <!-- <a class="footer-social-row" href="https://www.youtube.com/@childhoodcancercarefoundation" target="_blank"><img class="footer-social-icon" src="/assets/svg/Youtube.svg" alt="YouTube logo"> Youtube</a> -->
      </div>
    </div>
  </div>
  <div class="footer-bottom-wrapper">
    <div class="footer-bottom"></div>
    <div class="footer-bottom-row">
      <div class="footer-copyright">
        © 2025 Our Foundation. All rights reserved.
      </div>
      <!-- <div class="footer-bottom-links">
        <a href="#">Privacy Policy</a>
        <a href="#">Terms of Service</a>
        <a href="#">Cookie Settings</a>
      </div> -->
    </div>
  </div>
</footer>
