<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery | CCCF</title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/gallery.css' />
    <link rel='stylesheet' href='/css/header.css' />
    <link rel='stylesheet' href='/css/footer.css' />
    <script>
        fetch('/header.html')
            .then(res => res.text())
            .then(async data => {
                document.querySelector('#header-container').innerHTML = data;
                await import('/script/header.js');
            });
        fetch('/footer.html')
            .then(res => res.text())
            .then(async data => {
                document.querySelector('#footer-container').innerHTML = data;
                await import("/script/footer.js");
            });
    </script>
    <script src="/script/gallery.js" defer></script>
</head>
<body>
    <!-- <div id="loader" class="bg-white"></div> -->
    <div id="header-container"></div><div id='hero' class='flex-container'>
        <div id='hero-cover'>
            <img class='image' id='hero-cover-1' src='
                ./assets/images/cover.webp'/>
            <div class='shadow'></div>
        </div>
        <div class='flex-container' id='hero-text-section'>
            <div class='hero-text flex-container' id='hero-text-1'>
                <div class='title'>
                    Our Memories
                </div>
                <div class="album-search flex-container">
                    <div class="album-input-container">
                        <input id="album-input" placeholder="">
                        <label for="album-input">Album Name</label>
                        <div class="album-input-background"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="album-title-container bg-cream">
        <h1 class="heading" id="album-title">All Albums</h1>
    </div>

    <div id="album-container">
        <div id="album-grid"></div>
    </div>
    
    <div id="footer-container"></div>
</body>