<div class="flex-container header">
    <div class="flex-container header-logo">
        <div class="header-logo-ribbon">
            <img class="image" src="/assets/logo1.webp" />
        </div>
        <div class="header-logo-text">
            <img class="image" src="/assets/logo2.webp" />
        </div>
    </div>
    <nav class="flex-container center header-links">
        <div class="header-link flex-container">
            <a href="/">Home</a>
            <div class="underline"></div>
        </div>
        <div class="header-link flex-container">
            <a href="/AboutUs">About Us</a>
            <div class="underline"></div>
        </div>
        <div class="header-link flex-container">
            <a href="#">Blog</a>
            <div class="underline"></div>
        </div>
        <div class="header-link flex-container">
            <a href="#">Gallery</a>
            <div class="underline"></div>
        </div>
        <div class="header-link flex-container">
            <a href="#">Contact Us</a>
            <div class="underline"></div>
        </div>
    </nav>
    <div class="flex-container header-buttons">
        <button class="button-invert">Learn</button>
        <button class="button">Support Us</button>
    </div>
</div>