<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>CCCF</title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/home.css' />
    <script>
        fetch('/header.html')
            .then(res => res.text())
            .then(async data => {
                document.querySelector('#header-container').innerHTML = data;
            });
        fetch('/footer.html')
            .then(res => res.text())
            .then(async data => {
                document.querySelector('#footer-container').innerHTML = data;
            });
    </script>
    <script src='/script/home.js' defer></script>
</head>
<body>
    <div id='header-container'></div>
    <div id='hero' class='flex-container'>
        <div id='hero-cover'>
            <img class='image' id='hero-cover-1' src='
            ./assets/images/cover.webp'/>
            <div class='shadow'></div>
        </div>
        <div class='hero-text-section flex-container'>
            <div class='hero-text flex-container'>
                <div class='title'>
                    Together We Can Conquer Childhood Cancer
                </div>
                <div class='sub-text'>
                    Our foundation is dedicated to providing support and hope to 
                    children battling cancer and their families. Join us in our 
                    mission to raise awareness and funds for vital research and 
                    care.
                </div>
                <div class='hero-buttons flex-container'>
                    <button class='button'>Support Us</button>
                    <button class='button-invert white-text'>Learn More</button>
                </div>
            </div>
            <div class='radio-form flex-container'>
                <button class='radio-button radio-clicked' id='hero-page-1'>
                </button>
                <button class='radio-button' id='hero-page-2'></button>
                <button class='radio-button' id='hero-page-3'></button>
            </div>
        </div>
    </div>
    <div class='primary-container flex-container bg-yellow'>
        <h1 class='heading'>
            Supporting Children With Cancer:<br>
            Our Comprehensive Approach to Care and Hope
        </h1>
        <div class='cards-container flex-container'>
            <div class='card flex-container'>
                <div class='card-image'>
                    <img class='image' src='#'>
                </div>
                <h3 class='card-heading'>Empowering Families: Resources and 
                    Support Every Step of the Way</h3>
                <p>We provide essential services, emotional support, and 
                    financial assistance to families.</p>
                <div class='flex-container'>
                    <button class='transparent-button button-container'>
                        Learn More
                        <img src='/assets/svg/chevron_right.svg'>
                    </button>
                </div>
            </div>
            <div class='card flex-container'>
                <div class='card-image'>
                    <img class='image' src='#'>
                </div>
                <h3 class='card-heading'>Creating Community: Connecting Families 
                    with Resources and Each Other</h3>
                <p>Our community initiatives foster connections 
                    and provide vital information for families.</p>
                <div class='flex-container'>
                    <button class='transparent-button button-container'>
                        Join Us
                        <img src='/assets/svg/chevron_right.svg'>
                    </button>
                </div>
            </div>
            <div class='card flex-container'>
                <div class='card-image'>
                    <img class='image' src='#'>
                </div>
                <h3 class='card-heading'>Raising Awareness: Advocacy for 
                    Childhood Cancer and Research Funding</h3>
                <p>We advocate for increased funding and 
                    awareness to improve treatment options.</p>
                <div class='flex-container'>
                    <button class='transparent-button button-container'>
                        Donate
                        <img src='/assets/svg/chevron_right.svg'>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class='secondary-container flex-container bg-cream'>
    </div>
</body>
<div id='footer-container'></div>
</html>