body {
    margin-left: 64px;
    margin-top: 16px;
}

input {
    width: 320px;
    height: 32px;
    padding: 4px 12px;
    border-radius: 25px;
    outline: none;
    border: 1px solid gray;
}

.background-blur {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    flex-direction: column;
    pointer-events: all;
    display: none;
}

#image-progress {
    position: fixed;
    display: none;
    bottom: 32px;
    right: 32px;
    flex-direction: column;
    gap: 16px;
    padding: 32px;
    border-radius: 16px;
}

#image-progress-bar {
    height: 100%;
    width: 0;
    background-color: black;
    border-radius: 25px;
    transition: 0.3s ease width;
}

.image-progress-bar-container {
    width: 180px;
    height: 16px;
    border-radius: 25px;
}

#notification-bar {
    z-index: 4;
    display: none;
    position: fixed;
    top: 0;
    right: 32px;
    width: 300px;
    padding: 32px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    flex-direction: column;
    align-items: end;
    gap: 16px;
}

.notification {
    gap: 12px;
    overflow: hidden;
}

.notification-text {
    height: auto;
    width: 234px;
    overflow: hidden;
}

.heading {
    margin-top: 32px;
    margin-bottom: 16px;
}

.members-container {
    gap: 16px;
    justify-content: flex-start;
}

.form {
    z-index: 3;
    display: none;
    width: 600px;
    padding: 32px;
    position: fixed;
    border-radius: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.add-member-section-1 {
    gap: 24px;
}

#add-member-preview {
    width: 180px;
}

.add-member-section-1-right {
    flex-direction: column;
    gap: 16px;
}

.add-member-section-2 {
    margin-top: 16px;
    flex-direction: column;   
    gap: 16px;
}

.add-member-section-2 input {
    width: 500px;
}

#add-member-socials-container {
    flex-direction: column;
    gap: 16px;
}

#add-member-description {
    height: 64px;
    width: 520px;
    border-radius: 25px;
    padding: 12px;
    resize: none;
}

textarea:focus {
    outline: none;
}

.add-member-social input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 396px;
}

.add-member-social select {
    height: 41px;
    border: 1px solid gray;
    width: 100px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-left: 0
}

.add-member-social select:focus {
    outline: 0;
}

.add-member-social option {
    outline: 0;
    border: 0;
}

.add-member-buttons {
    gap: 16px;
    margin-top: 16px;
}

#add-member-add-social {
    flex-direction: column;
}

#add-member-add-social p {
    font-size: 0.9rem;
}

.team-members-container {
    display: none;
}

.team-member {
    cursor: pointer;
    position: relative;
    transition: transform 0.25s ease;
}

.team-member:hover {
    transform: translate(0, -5px);
}

#edit-member-text {
    margin-top: 8px;
    display: none;
}

/* remove member */
#remove-member-container {
    z-index: 2;
    width: 100%;
    height: 64px;
    position: fixed;
    bottom: 0;
    left: 0;
    display: none;
}

.remove-member-buttons {
    gap: 12px;
    margin-left: auto;
    margin-right: 64px;
}

.clicked {
    background-color: white;
    padding: 5px;
    border-radius: 25px;
    position: absolute;
    top: 8px;
    left: 8px;
    width: 24px;
    height: 24px;
    display: none;
}

#edit-member-submit {
    display: none;
}

#add-member-submit {
    display: none;
}

#submit-loader {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 106;
    width: 48px;
    height: 48px;
    border: 4px solid whitesmoke;
    border-top: 4px solid #FFCF3A;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0%   { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

/* album and image */
#add-album-form {
    width: 400px;
    flex-direction: column;
    align-items: center;
}

#delete-album-form, #add-image-form {
    width: auto;
    padding: 36px;
    flex-direction: column;
    align-items: center;
}