* {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    padding: 5rem 3rem;
    gap: 2rem;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem;
}

.card {
    width: 50rem;
    display: flex;
    align-items: center;
    border: 3px solid black;
    border-radius: 1rem;
    padding: 2rem 1rem;
    cursor: pointer;
    gap: 2rem;
}

.card h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.card:hover {
    background-color: lightgray;
    width: 52rem;
}

.card-poster {
    width: 15rem;
    height: 15rem;
    align-content: center;
    flex-shrink: 0;
}

.card-poster img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
}

.categories {
    margin-top: 2rem;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.categories div {
    background-color: black;
    color: white;
    border-radius: 1rem;
    padding: 5px 10px;
}

.paginator {
    display: flex;
    justify-content: center;
    margin: 1.5rem 0rem;
}

.pages {
    display:flex;
}

.page {
    font-size: 1rem;
    width: 2rem;
    height: 2rem;
    background-color: white;
    border: 1px solid #FFD34B;
    color: #FFD34B;
    align-content: center;
    text-align: center;
    cursor: pointer;
}

#activePage {
    background-color: #FFD34B;
    color:white;
    pointer-events: none;
}