body {
    overflow: hidden;
}

h1 {
    margin-top: 64px;
    text-align: center;
}

.grid {
    margin: 64px;
    position: relative;
    display: grid;
    gap: 12px;
}

.grid-item {
    width: 256px;
    height: 256px;
    border: 1px solid gray;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.25s ease transform;
}

.grid-item:hover {
    transform: translate(0, -3px);
}

#images-container {
    margin-left: auto;
    margin-right: auto;
    width: 1328px;
    grid-template-columns: repeat(5, 256px);
    border-radius: 8px;
}

.image {
    border-radius: 8px;
}

#image-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 201;
    display: none;
}

.background-blur {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    flex-direction: column;
    pointer-events: all;
}

.preview { 
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: auto;
    margin-top: -112px;
}

.preview-arrow {
    cursor: pointer;
    width: 100px;
}

.preview-container {
    width: 800px;
}

#preview-close {
    color: white;
    align-self: flex-end;
    margin-bottom: auto;
    margin-right: 64px;
    margin-top: 64px;
    cursor: pointer;
}

#image-preview {
    max-width: 100%;
    height: auto;
    max-height: 720px;
}

@media(max-width: 1456px) {
    #images-container {
        width: 1060px;
        grid-template-columns: repeat(4, 256px);
    }
}

@media(max-width: 1188px) {
    #images-container {
        width: 792px;
        grid-template-columns: repeat(3, 256px);
    }
}

@media(max-width: 920px) {
    .grid-item {
        width: 200px;
        height: 200px;
    }
    #images-container {
        width: 624px;
        grid-template-columns: repeat(3, 200px);
    }
}

@media(max-width: 700px) {
    .grid-item {
        width: 150px;
        height: 150px;
    }

    #images-container {
        width: 474px;
        grid-template-columns: repeat(3, 150px);
    }
}

@media(max-width: 400px) {
    .grid-item {
        width: 110px;
        height: 110px;
    }

    #images-container {
        width: 346px;
        grid-template-columns: repeat(3, 110px);
        gap: 8px;
    }
}