/* 
    The whole website 3 different types of texts
    Text
    Sub Text    Text but bold or semi-bold for readability
    Title Text
*/

/* 
    Primary color: #FFCF3A
    Secondary color: #FAEDCB 
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* General things */
* {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

html {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

a, button, img, div {
    user-select: none;
}

.title {
    font-size: 72px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}

.heading {
    font-size: 2rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}

.sub-text, .sub-white-text {
    font-weight: 700;
}

.sub-white-text {
    color: white;
}

.white-text {
    color: white;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.center {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);  
}

.shadow {
    width: 100%;
    height: 100%;
    box-shadow: 100vw 0px 24px rgba(0, 0, 0, 0.3) inset;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    pointer-events: none;
}

/* Header */
.header {
    width: 100%;
    height: 72px;
    padding-top: 12px;
    padding-bottom: 8px;
    justify-content: space-between;
    background-color: #FAEDCB;
}

.header-logo {
    width: 200px;
    height: 68px;
    margin-left: 64px;
    gap: 8px;
}

.header-logo-ribbon {
    width: 68px;
    height: auto;
}

.header-logo-text {
    width: 124px;
    height: auto;
}

.header-links {
    gap: 24px;
}

.header-buttons {
    gap: 24px;
    margin-right: 64px;
}

/* Buttons */
.button, .button-invert, .transparent-button {
    background-color: #FFCF3A;
    padding: 8px 24px;
    box-sizing: border-box;
    box-shadow: 
        0px -2px 1px rgba(0, 0, 0, 0.25) inset,
        0px 2px 1px rgba(255, 255, 255, 0.4) inset;
}

.button-invert {
    background-color: rgb(250, 237, 203, 0.05);
    box-shadow: 0px -2px 1px rgba(0, 0, 0, 0.25) inset;
}

.transparent-button {
    background-color: transparent;
    box-shadow: none;
}

/* radio buttons */
.radio-form {
    flex-direction: column;
    width: auto;
    bottom: 0;
    gap: 16px;
}

.radio-button {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: transparent;
    border: 2px white solid;
    cursor: pointer;
}

.radio-clicked {
    background-color: #FFD34B;
    border-color: #FFD34B;
}

/* Background colors */
.bg-yellow {
    background-color: #FFD34B;
}
.bg-cream {
    background-color: #FAEDCB;
}